body {
   background: lightgray;
   font: black;
   font-size: 0.9em;
}

.noteContainer {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   background: lightblue;
   border: 1px solid black;
   padding: 10px;
   margin: 10px;
   /* margin: 10px 0 10px 0; */
   /* margin: auto; */
}
.annotation-input {
    width: 100%;
}

#appcontent {
   font-size: 40px;
   font-weight: bold;
}